html {
  height: 100%; }
body {
  overflow-x: hidden;
	margin-top: 70px;
  font-family: 'Microsoft JhengHei', sans-serif;
  word-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}
.navbar{
	background: #555555;
	padding: 1em;
}
@media screen and (max-width: 535px) {
  .navbar {
    padding: 0.5em;
  }
  .logo {
    height: 50px;
    width: 200px;
  }
}
.navbar-brand{
    letter-spacing: 3px;
}
.navbar-brand small{
    color: #2e2e2e;
    font-size: 12px;
}
.navbar-inverse .navbar-brand{
	color: #e74c3c;
}
.navbar-inverse .navbar-brand :hover{
	color: #2E2E2E;
}

.navbar-inverse .navbar-toggle:hover:before, .navbar-inverse .navbar-toggle:focus:before {
    color: #e74c3c;
}
.navbar-inverse .navbar-toggle:before {
    color: #2e2e2e;
}
.navbar-inverse .navbar-nav>li>a{
	color: #dfdfdf;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active{
	color:  #e74c3c;
}

#top ,
#phone,
#faceb,
#comm{
    position: fixed;
    bottom: 40px;
    right: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    z-index: 99;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#top i ,
#phone i,
#faceb i,
#comm i{
    color: #fff;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-65%);
    position: relative;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#phone{
  bottom: 95px;
  background: #0288D1;
}
#faceb{
  bottom: 150px;
  background: #3b5998;
}
#comm{
  bottom: 205px;
  background: #20E000;
}
#top:hover{
  background: rgba(0, 0, 0, 0.9);
}
#phone:hover{
  background: rgba(2,136,209,0.9);
}
#faceb:hover{
  background: rgba(59,89,152,0.9);
}
#comm:hover{
  background: rgba(32,224,0,0.9);
}

#top:hover i,
#phone:hover i,
#faceb:hover i,
#comm:hover i 
{
    color: #fff;
    top: 5px;
}

div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #e74c3c;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}


div.topLeftBorders  a
{
    color: #e74c3c;
    text-decoration: none;
    font-size: 16px ;
    font-weight: 400;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


div.topLeftBorders a:after
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #e74c3c;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
  opacity: 0;
  bottom: 100%;
}
/*header*/
#header{

  background: url('../img/banner.jpg') no-repeat center;
  /*background-color: #000;*/
	background-size:contain;
	height: 100vh;
}
@media screen and (max-width: 430px) {
      #header {
        background-position-y: 0px;
        height: 50vh;
      }

    }

#scrolla {
  color: #FFF;
}
#scrolla span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#header h1 {
	margin-top:20%; 
	color: #FFF;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-weight: 400;
    letter-spacing: 5px;
}
#header h3 {
    color: #FFF;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-weight: 400;
    letter-spacing: 10px;
}
#header h4 {
    color: #FFF;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-weight: 400;
    letter-spacing: 10px;
}

#service{
    background: #ececec;

}

.row-no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.servecard{
    /*height: 400px;*/
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
@media screen and (max-width: 430px) {
    .servecard {
      width: 90%;
      padding: 2rem;
    }
}
.serverow {
    margin: 10rem 0; 
}
#news {
    padding: 5rem 0;
    background: #ececec;
}
#newsdiv h5 {
  font-size: 20px;
}
.newsshare h6 {
  font-size: 16px;
}
.newsshare span {
  font-size: 14px;
}


.sectiontitle h4{
  font-weight:400;
}
.carousel-wrap {
  margin: 90px auto;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: 0px;
  color: #2e2e2e;
}

.owl-nav .owl-next {
  right: 0px;
  color: #2e2e2e;
}
footer{
    padding: 5rem 0;
}
footer .text-center h4{
    font-weight: 400;
    color: #e74c3c;
    padding: 2rem;
}

figure.snip1190 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 220px;
  /*max-width: 310px;*/
  max-height: 400px;
  height: 300px;
  width: 120%;
  background: #000000;
  text-align: center;
  right: 1.75em;

}

figure.snip1190 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1190 img {
  opacity: 0.8;
  width: 100%;
  
}
figure.snip1190 figcaption {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
figure.snip1190 h2 {
  font-weight: 400;
  left: 0;
  right: 0;
  letter-spacing: -1px;
  margin: 0 auto;
  position: absolute;
  text-transform: uppercase;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-size: 3rem;
}
figure.snip1190 h2 span {
  font-weight: 800;
}
figure.snip1190 p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  opacity: 0;
  font-size: 14px;
  -webkit-transform: translateY(-20%) scale(0.7);
  transform: translateY(-20%) scale(0.7);
}
figure.snip1190 .square {
  height: 78px;
  width: 78px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
figure.snip1190 .square:before,
figure.snip1190 .square:after,
figure.snip1190 .square div:before,
figure.snip1190 .square div:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
figure.snip1190 .square:before,
figure.snip1190 .square:after {
  width: 65%;
  height: 2px;
}
figure.snip1190 .square div:before,
figure.snip1190 .square div:after {
  width: 2px;
  height: 65%;
}
figure.snip1190 .square:before,
figure.snip1190 .square div:before {
  left: 0;
  top: 0;
}
figure.snip1190 .square:after,
figure.snip1190 .square div:after {
  bottom: 0;
  right: 0;
}
figure.snip1190 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1190:hover img,
figure.snip1190.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1190:hover h2,
figure.snip1190.hover h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
figure.snip1190:hover p,
figure.snip1190.hover p {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
figure.snip1190:hover .square:before,
figure.snip1190.hover .square:before {
  width: 38%;
}
figure.snip1190:hover .square div:before,
figure.snip1190.hover .square div:before {
  height: 38%;
}
figure.snip1190:hover .square:after,
figure.snip1190.hover .square:after {
  width: 55%;
}
figure.snip1190:hover .square div:after,
figure.snip1190.hover .square div:after {
  height: 55%;
}
.n1{
float: left;
}
.n2,.prod_ago{
    float: right;
}
.nn{
    background: #BBDEFB;
    height: 40px;
}
.shopimgg{
    width: 100%;
}
.pr1{
    float: left;
    color: #a2a2a2;
}
.pr2{
    float: right;
    font-size: 130%;
    font-weight: bolder;
    color: #D32F2F;
}
#goodt1{
    font-size: 28px;
    margin-top: 10px;
}
/**
 * tab
 * --------------------------------------------------
 */
.nav-tabs {
  background-color: #e6e9ed;

  border-bottom: none;
          border-radius: 4px 4px 0 0;

  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
}
.nav-tabs > li {
  margin-bottom: 0;
  border-left: 1px solid #ccd1d9;
}
.nav-tabs > li:first-child {
  border-left: none;
}
.nav-tabs > li > a {
  margin-right: 0;
  color: #434a54;
  border: none;
          border-radius: 0;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
}
.nav-tabs > li:first-child > a {
          border-radius: 4px 0 0 0;

  -webkit-border-radius: 4px 0 0 0;
     -moz-border-radius: 4px 0 0 0;
}
.nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  background-color: #f5f7fa;
  border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: white !important;
  border: none;
}
.nav-tabs .dropdown-toggle, .nav-tabs .dropdown-toggle:hover, .nav-tabs .dropdown-toggle:focus {
  color: #434a54;
}
.nav-tabs li.dropdown.open .dropdown-toggle {
  color: #434a54;
  background-color: #f5f7fa;
}
.nav-tabs li.dropdown.active.open .dropdown-toggle {
  color: #434a54;
}
.nav-tabs li.dropdown.active.open .dropdown-toggle .caret, .nav-tabs li.dropdown.active .dropdown-toggle .caret {
  border-top-color: #434a54;
  border-bottom-color: #434a54;
}
.nav-tabs li.dropdown.open .caret, .nav-tabs li.dropdown.open.active .caret, .nav-tabs li.dropdown.open a:hover .caret, .nav-tabs li.dropdown.open a:focus .caret, .nav-tabs .dropdown-toggle .caret, .nav-tabs .dropdown-toggle:hover .caret, .nav-tabs .dropdown-toggle:focus .caret {
  border-top-color: #434a54;
  border-bottom-color: #434a54;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
.nav-tabs.nav-justified > li > a {
          border-radius: 0;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
}
.nav-tabs.nav-justified > li:first-child > a {
          border-radius: 4px 0 0 0;

  -webkit-border-radius: 4px 0 0 0;
     -moz-border-radius: 4px 0 0 0;
}
.nav-tabs.nav-justified > li:last-child > a {
          border-radius: 0 4px 0 0;

  -webkit-border-radius: 0 4px 0 0;
     -moz-border-radius: 0 4px 0 0;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: none;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: none;
            border-radius: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
  }
  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom: none;
  }
}
.tab-content {
  padding: 10px;
}

.tabs-below .nav-tabs {
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.tabs-below .nav-tabs > li:first-child > a {
          border-radius: 0 0 0 4px;

  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
}
.tabs-below .nav-tabs.nav-justified > li:last-child > a {
          border-radius: 0 0 4px 0;

  -webkit-border-radius: 0 0 4px 0;
     -moz-border-radius: 0 0 4px 0;
}

.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none;
  border-top: 1px solid #ccd1d9;
  border-left: none;
}

.tabs-left .nav-tabs > li:first-child,
.tabs-right .nav-tabs > li:first-child {
  border-top: none;
}

.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
}

.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
          border-radius: 4px 0 0 4px;

  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
}
.tabs-left .nav-tabs > li:first-child > a {
          border-radius: 4px 0 0 0;

  -webkit-border-radius: 4px 0 0 0;
     -moz-border-radius: 4px 0 0 0;
}
.tabs-left .nav-tabs > li:last-child > a {
          border-radius: 0 0 0 4px;

  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
}

.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
          border-radius: 0 4px 4px 0;

  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
}
.tabs-right .nav-tabs > li:first-child > a {
          border-radius: 0 4px 0 0;

  -webkit-border-radius: 0 4px 0 0;
     -moz-border-radius: 0 4px 0 0;
}
.tabs-right .nav-tabs > li:last-child > a {
          border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
     -moz-border-radius: 0 0 4px 0;
}
/**
 * panel
 * --------------------------------------------------
 */

.panel {
  background-color: white;
  border: none;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
}
.panel .list-group {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.panel .list-group-item:first-child {
  border-top: 1px solid #e6e9ed;
}
.panel-heading {
          border-radius: 4px 4px 0 0;

  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
}
.panel-title {
  font-size: 14px;
  font-weight: normal;
  color: #434a54;
}
.panel-footer {
  background-color: #e6e9ed;
  border-top-color: #e6e9ed;
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.panel-default {
  border-color: #e6e9ed;
}
.panel-default > .panel-heading {
  color: #434a54;
  background-color: #e6e9ed;
  border-color: #e6e9ed;
}
.panel-primary {
  border-color: #3bafda;
}
.panel-primary > .panel-heading {
  color: white;
  background-color: #3bafda;
  border-color: #3bafda;
}
.panel-success {
  border-color: #8cc152;
}
.panel-success > .panel-heading {
  color: white;
  background-color: #8cc152;
  border-color: #8cc152;
}
.panel-info {
  border-color: #37bc9b;
}
.panel-info > .panel-heading {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.panel-warning {
  border-color: #f6bb42;
}
.panel-warning > .panel-heading {
  color: white;
  background-color: #f6bb42;
  border-color: #f6bb42;
}
.panel-danger {
  border-color: #da4453;
}
.panel-danger > .panel-heading {
  color: white;
  background-color: #da4453;
  border-color: #da4453;
}
.panel-primary > .panel-heading > .panel-title, .panel-success > .panel-heading > .panel-title, .panel-info > .panel-heading > .panel-title, .panel-warning > .panel-heading > .panel-title, .panel-danger > .panel-heading > .panel-title {
  color: white;
}
.panel > .list-group:first-child .list-group-item:first-child, .panel > .table:first-child, .panel > .table-responsive:first-child > .table:first-child {
          border-radius: 4px 4px 0 0;

  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
}
.panel > .list-group:last-child .list-group-item:last-child {
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
          border-radius: 4px 0 0 0;

  -webkit-border-radius: 4px 0 0 0;
     -moz-border-radius: 4px 0 0 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
          border-radius: 0 4px 0 0;

  -webkit-border-radius: 0 4px 0 0;
     -moz-border-radius: 0 4px 0 0;
}
.panel > .table:last-child, .panel > .table-responsive:last-child > .table:last-child {
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
          border-radius: 0 0 0 4px;

  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
          border-radius: 0 0 4px 0;

  -webkit-border-radius: 0 0 4px 0;
     -moz-border-radius: 0 0 4px 0;
}
.panel > .panel-body + .table, .panel > .panel-body + .table-responsive {
  border-top-color: #e6e9ed;
}
.servicelist{
  margin: 10rem 0;

}
.selkine{
    width: 150px;
    float: right;
}
.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 100%;
}
.contenttitle{
  color: #FFF;
  background: #e74c3c;
  padding: 2rem 1rem;
  box-shadow: 0px 5px 0 0 rgba(0,0,0,1);
  margin: 0 auto;
}
.contenttitle h4{
  font-weight: 400;
}
.contentcont{
  margin-top: 3rem;
  padding: 1rem 2rem;
}
.contentcont p{
  font-weight: 400;
  font-size: 1.6rem;
}
.inputrow{
  margin: 0 0 2rem 0;
}
.btn-block{
  margin: 2rem 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3498DB;
}
.sercontenttitle{
  color: #FFF;
  background: #E74C3C;
  padding: 0.01rem 0.5rem;
  box-shadow: 0px 5px 0 0 rgba(0,0,0,1);
  text-align: center;
}
.sercontenttitle h6{
  font-weight: 400;
  font-size: 1.8rem;
}
.sercontentcont{
  margin-top: -15px;
  padding: 1rem 2rem;
}
.sercontentcont p{
  font-weight: 400;
  font-size: 1.6rem;
}
.serverheight{
/*height: 300px;*/
}

figure.snip1206 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /* min-width: 200px;
  max-width: 300px;
  max-height: 300px; */
  width: 100%;
  height: 350px;
  color: #000000;
  text-align: center;
}

figure.snip1206 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1206 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1206:after {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1206 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
figure.snip1206 h4,
figure.snip1206 p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1206 h4 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1206 p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
figure.snip1206 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1206:hover:after,
figure.snip1206.hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
figure.snip1206:hover figcaption h4,
figure.snip1206.hover figcaption h4,
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1206:hover figcaption h4,
figure.snip1206.hover figcaption h4 {
  opacity: 1;
}
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .caption a p {
  font-size: 18px;
}
}
@media screen and (max-width: 480px) {
  .caption a p {
  font-size: 12px;
}
}
h2.pagenewtitle{
  font-size: 35px;
  font-weight: 100;
}
h3.pagenewtitle1{
  font-size: 36px;
}
.footertt{
  color: #787d82;
}
.sercontenttitle h6{
  font-size: 18px;
}
.content-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 480px) {
  .content-card {
    font-size: 12px;
  }
}
#prod {
  border-top: 2px solid #000;
  background: #ececec;
}
.nav-stacked > li.mt0 {
  margin-top: 0;
}
.nav-stacked > li > a {
  border: 1px solid #e3e3e3;
  border-radius: unset;
  margin: 0 0 -1px;
}
.nav-stacked > li:first-child > a {
  border-radius: 4px 4px 0 0;
}
.nav-stacked > li:last-child > a {
  border-radius: 0 0 4px 4px;
}